@model Exilesoft.MyTime.ViewModels.MissingEntriesViewModel
@{ 
    ViewBag.Title = "Missing Employee Time Entries";
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
 }
@{ Layout = null; }


@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>*@
<script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="~/Content/scripts/frms/administration_frm.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" />

<div id="DIV_PageInnerContent">

    <div class="container">
        <label>Employee missing time entries</label>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th class="th-sm">
                        Employee Id

                    </th>
                    <th class="th-sm">
                        Name

                    </th>
                    <th class="th-sm">
                        Missing Dates

                    </th>
                    <th class="th-sm">
                        Action

                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var entry in Model.entries)
                {
                <tr>
                    <td>@entry.employeeId</td>
                    <td>@entry.employeeName</td>
                    <td>
                        @foreach (var date in entry.missingDates)
                        {
                            <div>
                                <label>
                                    @date.Date.ToString().Split(' ')[0]
                                </label>
                            </div>                
                        }
                    </td>
                    <td>

                        <input type="button" class="ButtonForm" value="Send Email" onclick="sendEmail(@serializer.Serialize(@entry))" />

                    </td>
                </tr>            }
            </tbody>
        </table>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "processing": true,
            "serverSide": true, 
            "paging": true,
            "ordering": true,
            "info": true
        });
    });

    function sendEmail(entry) {
        new AdministrationForm().SendEmail(entry)
    }

</script>
