@model Exilesoft.MyTime.ViewModels.PhysicallyNotAvailableEmployeModel
@{
    Layout = null;
}

<style type="text/css">
    .odd td {
        white-space: nowrap;
        text-wrap: avoid;
    }

    .even td {
        white-space: nowrap;
        text-wrap: avoid;
    }

    .demo_jui {
        border-width: 1px;
        border-style: solid;
        border-color: #e0e0e0;
        font-size: 12px;
    }

        .demo_jui input {
            width: 250px;
            margin-left: 15px;
        }

    .dataTables_filter {
        float: left;
        text-align: left;
        padding-left: 10px;
    }
</style>


<table class="clearTable" style="margin-bottom: 20px;">
</table>
<div id="DIV_PageInnerContent">
    <div class="left_hedder_inner">
        Unplanned Leave Report
    </div>
    <table class="clearTable">

        <tr>
            <td style="width: 500px; border-right-width: 0px; vertical-align: top; border-right-style: solid; border-right-color: #e0e0e0; padding-right: 15px;">
                <div id="WorkHourDuration"></div>
                <div class="DIV_employeeFindWrapper" style="width: 500px;">
                    <table style="border: 0px; border-collapse: collapse; width: 500px;">
                        <tr>
                            <td style="border: 0px; border-collapse: collapse; padding-bottom: 10px; width: ">
                                <table class="clearTable">
                                    <tr>
                                        <td style="width: 100px">From Date</td>
                                        <td style="width: 200px;">@Html.TextBox("DateTxtBox", Model.DateFrom.ToString("dd/MM/yyyy"), new { id = "Textbox_DateFrom" })</td>

                                        <td style="width: 100px">To Date</td>
                                        <td style="width: 200px;">@Html.TextBox("DateTxtBox", Model.DateTo.ToString("dd/MM/yyyy"), new { id = "Textbox_DateTo" })</td>
                                    </tr>
                                    <tr>

                                        @*<td>
                                            <input type="checkbox" id="chk"  />
                                            <label for="chk">Half Day Report</label>
                                        </td>*@
                                        <td colspan="2">
                                            <select id="Dropdown_report_Type" style="font-size: 13px; padding: 4px 3px;" onchange="new Attendence().LoadGrid();">
                                                <option value="0">Unplanned leave report</option>
                                                <option value="1">Unplanned leave half day report</option>
                                                <option value="2">Working from home report</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="button" value="Generate Report" onclick="GenerateRwport()" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>


                    </table>

                </div>
            </td>
            <td style="vertical-align: top;"></td>
        </tr>
    </table>

    <table class="clearTable" id="TBL_PageMainTable">
        <tr>
            <td colspan="2" style="padding-top: 10px;">


                <div class="demo_jui" style="display: none; width: 100%;" id="DIV_EmployeesAbsent_TableData">
                   
                    <table cellpadding="0" cellspacing="0" border="0" class="display" id="TblUnplannedLeaves" style="width: 800px">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                    </table>
                    
                </div>
            </td>
        </tr>
    </table>

    <div id="DIV_GrapfUpdateWaitMessage" style="display: none;">
        <div style="text-align: center; font-size: 20px; color: #8a8a8a; border: 0px; padding-top: 50px;">
            <img src="../../Content/images/loder_wait.gif" /><br />
            Loading data. Please wait.
        </div>
    </div>
</div>




<script type="text/javascript">

    $(document).ready(function () {

        //  new DailyAttendance().UpdatePhysicallyNotAvailableEmployeesTableProcess();

        $('#Textbox_DateFrom').datepicker({
            dateFormat: "dd/mm/yy"
            //onSelect: function (dateText) {
            //    //new DailyAttendance().UpdatePhysicallyNotAvailableEmployeesTableProcess();
            //}
        });


        $('#Textbox_DateTo').datepicker({
            dateFormat: "dd/mm/yy",
            //onSelect: function(dateText) {
            //    new AdministrationForm().UpdatePhysicallyNotAvailableEmployeesTableProcess();
            // }
        });
    });
    GenerateRwport = function () {

        if ($('#Dropdown_report_Type').val() == 0) {
            new AdministrationForm().UpdatePhysicallyNotAvailableEmployeesTableProcess();            
        }
        else if ($('#Dropdown_report_Type').val() == 1) {
            new AdministrationForm().UpdateHalfDayEmployeesTableProcess();
        }
        else if ($('#Dropdown_report_Type').val() == 2) {
            new AdministrationForm().UpdateWprkFromHomeEmployeesTableProcess();
        }
    };

</script>
