<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bf3f0f44-9d44-4013-9ef5-796b607ba1fe/resourceGroups/TIQRI-PROD/providers/Microsoft.Web/sites/tiqrimytime-prod</ResourceId>
    <ResourceGroup>TIQRI-PROD</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mytime.tiqri.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tiqrimytime-prod.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tiqrimytime-prod</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$tiqrimytime-prod</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Exilesoft.Models.LocalContext" Order="1" Enabled="False">
          <Destination Path="Data Source=exile-prod.database.windows.net;Initial Catalog=MyTime-Prod;User ID=ExileProdUser;Password=Qwer1234" Name="Data Source=exile-prod.database.windows.net;Initial Catalog=MyTime-Prod;User id=ExileProdUser;password=Qwer1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Exilesoft.Models.LocalContext, Exilesoft.Models" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Context" Order="2" Enabled="False">
          <Destination Path="Data Source=exile-prod.database.windows.net;Initial Catalog=MyTime-Prod;User ID=ExileProdUser;Password=Qwer1234" Name="Data Source=exile-prod.database.windows.net;Initial Catalog=MyTime-Prod;User id=ExileProdUser;password=Qwer1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Exilesoft.Models.Context, Exilesoft.Models" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Context-Web.config Connection String">
      <ParameterValue>Data Source=exile-prod.database.windows.net;Initial Catalog=MyTime-Prod;User id=ExileProdUser;password=Qwer1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Exilesoft.Models.LocalContext-Web.config Connection String">
      <ParameterValue>Data Source=exile-prod.database.windows.net;Initial Catalog=MyTime-Prod;User id=ExileProdUser;password=Qwer1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Exilesoft.Models.LocalContext" />
  </ItemGroup>
</Project>