<?xml version="1.0"?>
<configuration>
  <system.web>
  </system.web>
  <appSettings>
    <add key="AmexCallBackUrl" value="https://mytime.tiqri.com/AmexHome/CallBack" />
    <add key="MobileCallBackUrl" value="https://mytime.tiqri.com/ReceptionHome/CallBack" />
    <add key="MobileCallBackUrl" value="https://mytime.tiqri.com/Mobile/CallBack" />
    <add key="AmexMobileCoockieName" value=".amex_mobile_login_cookie"/>
    <add key="AmexDesktopCoockieName" value=".amex_desktop_login_cookie"/>
    <add key="AmexPortalUrl" value="https://portal.tiqri.com" />

  </appSettings>
</configuration>