<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <br />
            <br />
            <div class="span7 offset2 panel-primary panel">
                <div data-ng-include="'/Reception/ReceptionHome/EmployeeSearch'" data-ng-controller="EmployeeCtrl" onload="init(true)" style="padding: 20px;"></div>
            </div>
        </div>
    </div>
</div>

