<!DOCTYPE html>
<html data-ng-app="receptionApp">
<head>
    <link href="~/Content/themes/base/minified/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Areas/Reception/Content/css/ng-grid.min.css" rel="stylesheet" />
    <link href="~/Content/style/jquery-ui-1.9.0.custom.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script src="~/Scripts/libs/jquery/jquery-1.9.1.js"></script>
    <script src="~/Scripts/libs/jqueryui/jquery-ui-1.10.4.js"></script>
    <script src="~/Scripts/libs/angular/angular.js"></script>
    <script src="~/Scripts/libs/angular/angular-route.js"></script>
    <script src="~/Scripts/libs/angular/angular-resource.js"></script>
    <script src="~/Scripts/libs/angular/angular-ui-router.js"></script>
    <script src="~/Scripts/libs/angular/Directives/ng-grid.js"></script>
    <script src="~/Scripts/libs/angular/Directives/ng-grid-2.0.11.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootbox.js"></script>

    <script src="~/Areas/Reception/Scripts/app/app.js"></script>
    <script src="~/Areas/Reception/Scripts/app/controllers/receptionController.js"></script>
    <script src="~/Areas/Reception/Scripts/app/controllers/receptionActiveCardsController.js"></script>
    <script src="~/Areas/Reception/Scripts/app/controllers/employeeController.js"></script>
    <script src="~/Areas/Reception/Scripts/app/controllers/VisitorController.js"></script>
    <script src="~/Areas/Reception/Scripts/app/controllers/historyController.js"></script>
    <script src="~/Areas/Reception/Scripts/app/directives/datePickerDirective.js"></script>
    <script src="~/Areas/Reception/Scripts/app/controllers/viewAllActiveCardHistory.js"></script>
    <style>
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
        }

        .ui-autocomplete {
            height: 100px;
        }

        .left_pane {
            float: left;
            width: 400px;
        }

        .pane_heading {
            /*background: none repeat scroll 0 0 #D0E9C6;*/
            color: #fff;
            display: block;
            font-family: arial;
            font-size: 16px;
            padding: 10px 20px;
            clear: both;
            background-color: #0088CC;
            /*margin: 20px 0;*/
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 10px 15px;
        }

        .panel-primary {
            border-color: #428BCA;
        }

        .panel {
            background-color: #FFFFFF;
            border: 1px solid #0088CC;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            margin-bottom: 20px;
        }

        .pane_content {
            height: 150px;
            float: left;
            clear: both;
            padding: 10px;
        }

        .search_pane {
            float: left;
            padding: 10px;
            background-color: #008000;
        }

        .L_button {
            padding: 10px 40px;
            margin-right: 20px;
            width: 163px;
            height: 81px;
            margin-bottom: 13px;
            font-size: 27px;
        }

        .search_button {
            margin-top: 11px;
            padding: 5px 10px;
            float: left;
        }

        .Submit_button {
            margin-top: -1px;
            padding: 14px 35px;
            float: left;
            margin-right: 1px;
            font-size: 18px;
        }

        .employee_search_button {
            margin-top: 9px;
            padding: 4px 10px;
            float: left;
        }

        .employee_button {
            margin-top: 11px;
            padding: 2px 10px;
            float: left;
        }

        .text-box-search {
            clear: both;
            float: left;
            /*margin-right: 5px;
            margin-top: 10px;*/
            padding: 10px;
            width: 200px;
            /*font-size: 17px;*/
        }

        .employee_text-box-search {
            clear: both;
            float: left;
            margin-right: 5px;
            margin-top: 10px;
            padding: 10px;
            width: 200px;
            font-size: 17px;
        }

        .modal {
            display: block;
        }

        /* Custom dialog/modal headers */

        .dialog-header-error {
            background-color: #d2322d;
        }

        .dialog-header-wait {
            background-color: #428bca;
        }

        .dialog-header-notify {
            background-color: #eeeeee;
        }

        .dialog-header-confirm {
            background-color: #333333;
        }

            .dialog-header-error span, .dialog-header-error h4,
            .dialog-header-wait span, .dialog-header-wait h4,
            .dialog-header-confirm span, .dialog-header-confirm h4 {
                color: #ffffff;
            }

        /* Ease Display */

        .pad {
            padding: 25px;
        }

        .btn {
            height: 30px !important;
        }
        /*style.css*/
        .gridStyle {
            border: 1px solid rgb(212,212,212);
            width: 616px;
            height: 300px;
        }

        .logo-exile {
            margin: -10px;
            float: right;
        }

        .padding-30 {
            padding: 30px;
        }
        .hatha {
            background: #0088CC; 
           padding: 20px 0;
            margin-right: 5px;
             /*width: 150px;
            display: block;*/
            text-align: center;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px; 
           
        }
        .hatha:hover{background: #ddd; }
       a.txt-white{text-decoration: none; color: #fff !important; }
    </style>


</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <br />
                <br />

                <div class="span5 offset3 panel-primary panel">
                    <div>
                        <span class="pane_heading clear padding-30">Welcome to Tiqri
                            <img src="~/Areas/Reception/Content/Images/logo-130-white.png" width="100" class="logo-exile" />
                        </span>
                    </div>
                    

                    <div class="span12" style="margin-top: 40px;" >
                        <div ><a  href="#/employee" class="txt-white span3 offset3 hatha" >Employee</a></div>
                        <div  ><a  href="#/visitor" class="txt-white span3 hatha">Visitor</a></div>
                        @*<ul class="nav nav-tabs visible-desktop">
                            <li><a data-toggle="tab" href="#/employee">Employee</a></li>
                            <li><a data-toggle="tab" href="#/visitor">Visitor</a></li>
                        </ul>*@
                        <div >
                            <div ui-view></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
