<?xml version="1.0"?>
<configuration>
    <system.web>
    </system.web>
  <appSettings>
    
    <add key="ReceptionCallBackUrl" value="https://mytime.tiqri.com/ReceptionHome/CallBack" />
    <add key="MobileCallBackUrl" value="https://mytime.tiqri.com/ReceptionHome/CallBack" />
    <add key="MobileCallBackUrl" value="https://mytime.tiqri.com/ReceptionHome/CallBack" />
    <add key="MobileCallBackUrl" value="https://mytime.tiqri.com/Mobile/CallBack" />
    <add key="ReceptionMobileCoockieName" value=".reception_mobile_login_cookie"/>
    <add key="ReceptionDesktopCoockieName" value=".reception_desktop_login_cookie"/>	
  </appSettings>
</configuration>
