@{
    ViewBag.Title = "ViewAllCardHistory";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="clear float-left span12" data-ng-controller="ActiveCardCtrl">
        <span class="pane_heading clear">Card Master List</span>
			<div class="pane_content-300 gridStyle" data-ng-grid="activeCardHistory"></div>
			        </div>
    </div>
</div>