<div class="search_pane" data-ng-controller="VisitorCtrl">
    <div class="clear float-left" style="background-color: aqua">
        <div>
            <span class="text-box-search">Company:</span><input type="text" id="txtCompany" class="search_button"  data-ng-model="Visitor.Company" />
            <span class="text-box-search">Email:</span><input type="text" id="txtEmail" class="search_button"  data-ng-model="Visitor.Email"  />
        </div>
    </div>
</div>
