<!DOCTYPE html>
<html>
<head>   
  <link href="~/Content/style/Site.css" rel="stylesheet" />
    <link href="../../Content/style/colorbox.css" rel="stylesheet" />
<link href="~/Content/style/iPhoneCheck.css" rel="stylesheet" />
<link href="~/Content/style/datatable.custom.css" rel="stylesheet" />
<link href="~/Content/style/demo_table_jui.css" rel="stylesheet" />
<link href="~/Content/style/basic.css" rel="stylesheet" />
<link href="~/Content/style/Grid.css" rel="stylesheet" />
<link href="~/Content/style/Validation.css" rel="stylesheet" />
    
<script src="~/Content/scripts/jquery.min.js"></script>
<script src="~/Content/scripts/jquery-ui-1.8.23.min.js"></script>
<script src="~/Content/scripts/jquery-ui-timepicker-addon.js"></script>
<script src="~/Content/scripts/jquery.idTabs.min.js"></script>
<script src="~/Content/scripts/jquery.colorbox.js"></script>
<script src="~/Content/scripts/jquery.dataTables.js"></script>
<script src="~/Content/scripts/kendo/kendo.dataviz.min.js"></script>
<script src="~/Content/scripts/graf/dygraph-dev.js"></script>
<script src="~/Content/scripts/azync_helper.js"></script>
<script src="~/Content/scripts/delay_callprovider.js"></script>
<script src="~/Content/scripts/global.js"></script>
<script src="~/Content/scripts/common.js"></script>
<script src="~/Content/scripts/jquery.simplemodal.js"></script>
</head>
<body>
    <div class="page">
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    <div id="SystemMainAzyncLoadingDiv">
    <img src="~/Content/images/azync_updt.gif" style="position:absolute; top:7px; left:7px;" /> Loading. Please wait…
</div>
</body>

</html>
